@import 'normalise';

/*
=========================================================
General
=========================================================
*/

$monzoBG: #14233c;

body {
  font-family: Museo Sans, Source Sans Pro, sans-serif;
}

.headerBar {
  width: 100%;
  padding: 15px 0;
  font: {
    size: 21px;
    weight: 500;
  }
  text-align: center;
}

.logo {
  margin: 0;
}

/*
=========================================================
Homepage
=========================================================
*/

.homepage {
  width: 100%;
  height: 90vh;
  position: relative;

  .main {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    text-align: center;
  }

  .heading {
    margin-bottom: 0;
    color: #222633;
    font: {
      size: 32px;
      weight: 600;
    }
    line-height: 130%;
  }

  .subheading {
    margin: 15px auto 30px auto;
    color: #575c65;
    font: {
      size: 24px;
      weight: 300;
    }
  }
}

.button {
  border-radius: 8px;
  padding: 17px 18px;
  transition: opacity 0.15s ease-in-out;

  &:hover {
    opacity: 0.9;
  }
}

.monzo.button {
  background: $monzoBG;
}

.monzoButtonImage {
  width: 188px;
  height: 20px;
  background: {
    image: url('/img/monzo_sign_in.png');
    size: 100%;
  }
  display: block;
}

/*
=========================================================
Dashboard Page
=========================================================
*/

.displayBG {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(top, rgba(9,107,207,1) 0%,rgba(0,176,250,1) 100%);
  position: absolute;
  z-index: -1;
}

.greetingWrap {
  width: 800px;
  position: relative;
  margin: 0 auto;
  padding-top: 80px;
  z-index: 3;
  color: #fff;
  font-weight: 200;
  text-align: center;

  .greeting {
    font: {
      size: 50px;
      weight: 300;
    }
  }

  .comment {
    font-size: 1.5em;
  }
}