@import 'normalise';

body {
  font-family: Source Sans Pro, sans-serif;
}

.headerBar {
  width: 100%;
  padding: 15px 0;
  font: {
    size: 21px;
    weight: 500;
  }
  box-shadow: 0 2px 2px rgba(0,0,0,0.3);
  text-align: center;
}

.logo {
  margin: 0;
}