@import 'normalise';

/*
=========================================================
General
=========================================================
*/

$monzoBG: #14233c;
$starlingLogoColor: #7433FF;

body {
  font-family: Museo Sans, Source Sans Pro, sans-serif;
}

.headerBar {
  width: 100%;
  padding: 15px 0;
  background: #fff;
  font: {
    size: 21px;
    weight: 500;
  }
  text-align: center;
}

.logo {
  margin: 0;
}

/*
=========================================================
Homepage
=========================================================
*/

.homepage {
  width: 100%;
  height: 90vh;
  position: relative;

  .main {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    text-align: center;
  }

  .heading {
    margin-bottom: 0;
    color: #222633;
    font: {
      size: 32px;
      weight: 600;
    }
    line-height: 130%;
  }

  .subheading {
    margin: 15px auto 30px auto;
    color: #575c65;
    font: {
      size: 24px;
      weight: 300;
    }
  }
}

.button {
  border-radius: 8px;
  padding: 17px 18px;
  transition: opacity 0.15s ease-in-out;

  &:hover {
    opacity: 0.9;
  }
}

.monzo.button {
  background: $monzoBG;
}

.monzoButtonImage {
  width: 188px;
  height: 20px;
  background: {
    image: url('/img/monzo_sign_in.png');
    size: 100%;
  }
  display: block;
}

/*
=========================================================
Dashboard Page
=========================================================
*/

.dash {
  background-color: #f5f7fa;
}

.dash .modules {
  width: 80%;
  margin: 0px auto;
  text-align: center;
}

.displayBG {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(top, rgba(9,107,207,1) 0%,rgba(0,176,250,1) 100%);
  position: absolute;
  z-index: -1;
}

.greetingWrap {
  width: 800px;
  position: relative;
  margin: 0 auto;
  padding-top: 80px;
  z-index: 3;
  color: #fff;
  font-weight: 200;
  text-align: center;

  .greeting {
    font: {
      size: 50px;
      weight: 300;
    }
  }

  .comment {
    font-size: 1.5em;
  }
}

.module {
  width: 340px;
  height: 210px;
  margin: 10px 10px;
  padding: 15px;
  color: #333;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  display: inline-block;
  vertical-align: middle;

  .label {
    opacity: 0.8;
    font-size: 12px;
    text-transform: uppercase;
  }
}

.accountsWrap {
  width: 250px;
  text-align: center;
  .balanceWrap {
    padding-bottom: 8px;
    border-bottom: solid 1px #ddd;
  }
  .balance {
    margin: 20px;
    font-size: 2em;
  }
  .accounts {
    margin-top: 27px;
    list-style: none;

    strong {
      font-weight: 600;
    }

    .monzoAccount strong {
      color: #f88379;
    }

    .starlingAccount strong {
      color: $starlingLogoColor;
    }

    li {
      margin-bottom: 10px;
    }
  }
}

.problemWrap {
  width: 300px;
}

.transactions {
  max-width: 770px;
  margin: 40px auto;
  padding: 10px 30px;
  color: #44464d;
  background: #fff;
  border-radius: 8px;

  .subheading {
    font-weight: 600;
  }
}

table {
  th {
    padding-bottom: 10px;
    padding-right: 80px;
    border-bottom: solid 1px #ddd;
    opacity: 0.7;
    font: {
      size: 12px;
      weight: 600;
    }
    text: {
      align: left;
      transform: uppercase;
    }
  }

  td {
    padding: 15px 30px 15px 0;
  }
}

.problemWrap .moduleHeading {
  padding: 5px 0;
  margin-bottom: 8px;
  color: #999;
  font-size: 14px;
  text: {
    align: center;
    transform: uppercase;
  }
}

$lightGrey: rgba(86, 140, 153, 0.07);
$darkGrey: rgba(0, 0, 0, 0.5);

.moduleContent {
  padding: 10px;
  text-align: center;
  background: $lightGrey;

  .amount, .subtitle {
    margin: 10px auto;
  }

  .amount {
    font-size: 24px;
    text-align: center;
  }

  .subtitle {
    font-size: 14px;
    color: $darkGrey;
  }
}

.suggestionWrap {
  div {
    width: 50%;
    padding: 15px 10px 0 10px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }
}

.sub {
  font-size: 12px;
  text-transform: uppercase;
  color: $darkGrey;
}