doctype html
html
    head
        title Dashboard
        link(rel='stylesheet', href='/css/dashboard.css')
    body
        header.headerBar
            p.logo Dashboard
        section.display
            div.displayBG
            section.greetingWrap
                h1.greeting Welcome, #{name.first}!
                p.comment Your finances are looking healthy.
        script.
            const ws = new WebSocket('ws://127.0.0.1:8080');

            ws.addEventListener('open', function open() {
              ws.send('something');
            });

            ws.addEventListener('message', function incoming(data) {
              
            });