doctype html
html
    head
        title Dashboard
        style.
            body {
                font-family: Source Sans Pro;
            }
    body
        header.headerBar
            p.logo Dashboard
        h1 Welcome, #{name.first}!
        p Your finances are looking healthy!
        h2.balanceTitle Your balance.
        p.balance= balance
        script.
            const ws = new WebSocket('ws://127.0.0.1:8080');

            ws.addEventListener('open', function open() {
              ws.send('something');
            });

            ws.addEventListener('message', function incoming(data) {
              
            });