doctype html
html
    head
        title Dashboard
        link(rel='stylesheet', href='/css/dashboard.css')
    body.homepage
        section.main
            h1.heading Welcome to Financial Dashboard!
            p.subheading Your financial data, put to work for you.
            a.monzo.button(href="/auth/monzo")
                span.monzoButtonImage
